
.left {
    margin: 100px 0 100px 200px;

    float: left;
    position: absolute;

}

.right {

    margin: 50px 0 100px 570px;
    padding: 5px 15px 5px 15px;
    width: 500px;
    float: right;
    border: solid 1px black;
    position: absolute;
}

p {
    position: relative;
    text-align: center;
    line-height: 13px;
}

.mainDiv {

    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

}

.login input[type= "text"],
.login input[type= "password"] {
    font-style: italic;
    font-size: 15px;
    padding: 5px ;
    border: 1px black solid;
    outline: none;
    width: 290px;
    height: 25px;
    display: block;
    margin: auto;
}
.signIn {
    width: 290px;
    height: 60px;
    display: block;
    font-size: 38px;
    margin: auto;
    border: black 1px solid ;
    border-radius: 8px;
    box-shadow: 3px 3px;
    background: white;
    outline: none;
}

.login {
    margin-top: 10px;
}
.signIn:hover {
    background-color: blueviolet;
}
h3 {
    text-align: center;
}

form{
    text-align: center;
}
select{
    font-style: italic;
    font-size: 15px;
    padding: 5px;
    border: 1px black solid;
    outline: none;
    width: 300px;
    height: 40px;
    display: block;
    margin: auto;
}
.sel{
     margin-top: 5px;

 }
textarea{
    font-style: italic;
    font-size: 15px;
    padding: 5px ;
    border: 1px black solid;
    outline: none;
    width: 290px;
    height: 50px;
    display: block;
    margin: auto;

}
#phone{
    border: 1px black solid ;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    width: 290px;
    height: 30px;
    outline: none;
    font-style: italic;
    font-size: 15px;

}
.dataOfBirth{
    display: inline-block;
    margin: 10px;
}
.birth{
    position: absolute;
    margin-left: 95px;
    padding-top: 15px;

}
#date_of_birth{
    position: relative;
    margin-left: 185px;
    margin-right: 50px;
    height: 30px;
    width: 170px;
   font-style: italic;
    outline: none;
    margin-top: -5px;


}
.calendar{
    position: relative;
    margin-left: 220px;
}
#sex1{
    position: relative;
    margin-left: 100px;
}
.sex{
    display: inline-block;
    margin: 10px;
}
.nameSex{
    position: absolute;
    margin-left: 105px;
    padding-bottom: 10px;
}
body{
    background-image: url(images/background1.jpg);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Helvetica";

}


