
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>enjoyly!</title>
</head>
<body>
<header class="header">
    <nav class="navigation">
        <div class="container">
            <ul>
                <li><img src="images/enjoyly.png" width="60"></li>
                <li><img src="images/enjoyly_hame (1).png" width="60"></a></li>
                <li>
                    <form>
                        <input type="text" name="search" placeholder="search">
                    </form>
                </li>
                <li><a href="#"><img src="images/settings-work-tool.png" width="60"></a></li>
                <li><a href="#"><img src="images/calendar-page-empty.png" width="60"></a></li>
                <li><a href="#"><img src="images/user-shape%20(2).png" width="60"></a></li>
                <li><a href="#">
                    <button>New event</button>
                </a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div>
        <div>
            <div>
                <img src="images/bicycle.png">
                <p>Sport</p>
                <img src="">
            </div>
            <div>
                <h2>Event name</h2>
                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                    quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
            </div>
        </div>
        <div>
            <ul>
                <li>Organizer</li>
                <li>Date</li>
                <li>Location</li>
                <li>Max number of people</li>
                <li>Age of participants</li>
                <li>Sex of participants</li>
                <li>Min budget</li>
                <li><button>Join</button></li>
                <li>Number of participants</li>
            </ul>
        </div>
    </div>
</main>
<footer></footer>
</body>
</html>